openapi: 3.0.0
info:
  title: Dofusdude API
  version: '0.1'
  description: "The last API for everything Dofus <span style=\"font-size:1.8rem;\">\U0001F92F</span>\n<h2>Main Features</h2>\n<ul>\n<li><span style=\"font-size:1.8rem;\">\U0001F977</span> <b>auto update</b> load data in the background when a new Dofus version is released and serving it within 2 minutes.</li>\n\n<li><span style=\"font-size:1.8rem;\">\U0001F6DE</span> <b>availability</b> updates data atomically when ready. No downtime and no effects for the user, just always up-to-date.</li>\n\n<li><span style=\"font-size:1.8rem;\">\U0001F9E0</span> <b>searchable</b> allowing typos in name and description, sorted by relevance, handled by the powerful <a href=\"https://www.meilisearch.com\">Meilisearch</a>.</li>\n\n<li><span style=\"font-size:1.8rem;\">\U0001F575️</span> <b>complete</b> actual data from the game including items invisible to the encyclopedia.</li>\n\n<li><span style=\"font-size:1.8rem;\">\U0001F5E3️</span> <b>multilingual</b> supporting <em>en</em>, <em>fr</em>, <em>es</em>, <em>pt</em> including the dropped languages from the Dofus website <em>de</em> and <em>it</em>.</li>\n\n<li><span style=\"font-size:1.8rem;\">\U0001F5BC️</span> <b>HD images</b> rendering vector graphics into PNGs up to 800x800 px in the background.</li>\n\n</ul>\n\n\n<h2>Current state</h2>\n<div style=\"display:flex;justify-content:space-around;flex-wrap:wrap\">\n<ul style=\"font-size:1.6rem;\">\n<li>Weapons ✅</li>\n<li>Equipment ✅</li>\n<li>Sets ✅</li>\n<li>Resources ✅</li>\n<li>Consumables ✅</li>\n<li>Pets ✅</li>\n<li>Mounts ✅</li>\n<li>Cosmetics/Ceremonial Items ✅</li>\n<li>Harnesses ✅</li>\n</ul>\n\n<ul style=\"font-size:1.6rem;\">\n<li>\U0001F3D7️ Almanax ❌</li>\n<li>Monsters ❌</li>\n<li>Classes ❌</li>\n<li>Spells ❌</li>\n</ul>\n</div>\n\n\n<h3>Maybes? But don't know what for <span style=\"font-size:1.8rem;\">\U0001F937</span></h3>\n<ul>\n<li>Professions ❌ </li>\n<li>Sidekicks ❌</li>\n<li>Haven Bags ❌</li>\n<li>Map ❌</li>\n</ul>\n\n\n<h2>Future</h2>\nI want this project to be useful and not just add plain categories no one needs. More and more features will be added to enhance the quality based on the needs of you, the developers.\n<br>Examples:\n<p><em>I need to know where I can drop the all the items I need to craft set X!</em></p>\n<p><em>Please get a detailed always up-to-date spell description so I can calculate the damage for my set builder site!</em></p>\n<p>Nearly everything can be done. But I want to make sure somebody also wants it.\nIf you have anything or you are just interested in the project, join the <a href=\"https://discord.gg/3EtHskZD8h\">Discord</a>.</p>\n\n<h3>Versioning</h3>\n<p>Updating an API is a hard problem. This is why we'll keep it simple:<br>\nEverything you see here on this site, you can use now and forever. Updates could introduce new fields, new paths or parameter but never break backwards compatibility, so no field or parameter will be deleted. Ever.\n</p>\n<p>There is one exception! <b>The API will <em>always</em> choose being up-to-date over everything else</b>. So if Ankama decides to drop languages from the game like they did with their website, the API will loose support for them, too.\n</p>\n<p>\nWe can prevent this specific use case with a nice community but even then, it would be hidden behind a feature flag.\n</p>\n\n<h2>Get started! \U0001F973</h2>\n<p>Scroll down and try it for yourself.</p>\n<p>If you are ready to use them in your project, think about <a href=\"https://github.com/OpenAPITools/openapi-generator\">generating a client <span style=\"font-size:1.8rem;\">\U0001F9D9</span></a> from the <a href=\"https://dofusdu.de/openapi-3.0.yaml\">OpenAPI 3.0 Spec</a> to get started quickly.</p>\n\n\n"
  contact:
    name: Survival
    url: 'https://dofusdu.de'
    email: stelzo@steado.de
servers:
  - url: 'https://dofusdu.de/dofus'
paths:
  '/{language}/items/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search all items
      responses:
        '200':
          description: Items Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemTyped'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-all-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
      tags:
        - all items
  '/{language}/mounts/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search mounts
      tags:
        - mounts
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMount'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-mounts-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
  '/{language}/sets/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search sets
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSet'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-sets-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
      tags:
        - sets
  '/{language}/items/quest/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search quest items
      tags:
        - quest items
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-quest-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
  '/{language}/items/consumables/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search consumables
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-consumables-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
      tags:
        - consumables
  '/{language}/items/resources/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search resources
      tags:
        - resources
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-resource-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
  '/{language}/items/equipment/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search equipment
      tags:
        - equipment
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-equipment-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
  '/{language}/items/cosmetics/search':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: Search cosmetics
      tags:
        - cosmetics
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        '404':
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-cosmetics-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: search query string
          required: true
  '/{language}/items/cosmetics/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single cosmetics
      tags:
        - cosmetics
      responses:
        '200':
          description: Cosmetic Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cosmetic'
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-cosmetics-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      x-internal: false
  '/{language}/items/resources/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single resources
      tags:
        - resources
      responses:
        '200':
          description: Resource Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-resources-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/equipment/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single equipment
      tags:
        - equipment
      responses:
        '200':
          description: Equipment Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-equipment-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/consumables/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single consumables
      tags:
        - consumables
      responses:
        '200':
          description: Consumable Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-consumables-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/quest/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single quest items
      responses:
        '200':
          description: Questitem Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cosmetic'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-item-quest-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      tags:
        - quest items
  '/{language}/mounts/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single mounts
      tags:
        - mounts
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-mounts-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/sets/{ankama_id}':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
        name: ankama_id
        in: path
        required: true
        description: identifier
    get:
      summary: Single sets
      tags:
        - sets
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'
      operationId: get-sets-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/sets':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List sets
      tags:
        - sets
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListSets'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSet'
      operationId: get-sets-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/mounts':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List mounts
      tags:
        - mounts
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSet'
      operationId: get-mounts-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/equipment':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List equipment
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListItems'
      operationId: get-items-equipment-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      tags:
        - equipment
  '/{language}/items/resources':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List resources
      tags:
        - resources
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListItems'
      operationId: get-items-resources-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/consumables':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List consumables
      tags:
        - consumables
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListItems'
      operationId: get-items-consumables-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/quest':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List quest items
      tags:
        - quest items
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListItems'
      operationId: get-items-quest-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
  '/{language}/items/cosmetics':
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
    get:
      summary: List cosmetics
      tags:
        - cosmetics
      responses:
        '200':
          description: Set Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListMounts'
              examples: {}
        '400':
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        '404':
          description: |
            Not Found

            Possibilities:
            - nothing found for this ankama_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListItems'
      operationId: get-cosmetics-list
      description: Retrieve a specific cosmetic item with id.
      parameters: []
components:
  schemas:
    ListItemTyped:
      title: List Items Typed
      x-stoplight:
        id: 5d0a1fnhr8oo5
      type: array
      items:
        type: object
        properties:
          ankama_id:
            type: integer
          name:
            type: string
          type:
            type: string
          item_subtype:
            type: string
            description: The API item category. Can be used to build the request URL for this particular item.
          level:
            type: integer
          image_urls:
            $ref: '#/components/schemas/ImageUrls'
    Cosmetic:
      type: object
      x-examples:
        example-1:
          ankama_id: 24132
          name: Panzer von Meister Tor Tur
          description: Dieser Panzer mit einem Gewicht von mindestens 20 Kilopods dient der Muskelstärkung im Rahmen des Trainings bei Meister Tor Tur.
          type: Prunkumhang
          level: 180
          pods: 0
          image_urls:
            icon: 'http://localhost/dofus/img/item/17481.png'
          effects:
            - min: 0
              max: 0
              type: 'Austauschbar ab:'
              ignore_min: true
              ignore_max: true
              templated: 'Austauschbar ab: 0'
            - min: 0
              max: 0
              type: 'Kompatibel zu:'
              ignore_min: true
              ignore_max: true
              templated: 'Kompatibel zu: 0'
            - min: 0
              max: 0
              type: 'Kompatibel zu:'
              ignore_min: true
              ignore_max: true
              templated: 'Kompatibel zu: 0'
          conditions: null
          recipe: null
      properties:
        ankama_id:
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
        level:
          type: integer
        pods:
          type: integer
        image_urls:
          $ref: '#/components/schemas/ImageUrls'
        effects:
          type: array
          items:
            $ref: '#/components/schemas/Effects'
        conditions:
          type: array
          nullable: true
          items:
            type: string
        recipe:
          $ref: '#/components/schemas/Recipe'
    Recipe:
      title: Recipe
      x-stoplight:
        id: yulmed3cxxqi7
      type: array
      x-examples:
        example-1:
          - item_ankama_id: 15720
            quantity: 44
      items:
        type: object
        properties:
          item_ankama_id:
            type: integer
          item_subtype:
            type: string
          quantity:
            type: integer
      description: can be null
    Effects:
      type: array
      x-examples:
        Single:
          - min: 1
            max: 0
            type: MP
            ignore_min: false
            ignore_max: true
            templated: 1 MP
      items:
        type: object
        properties:
          min:
            type: integer
            description: 'Minimum value, can be a single if ignore_max and not ignore_min'
          max:
            type: integer
            description: 'Maximum value, if not ignore_max and not ignore_min, the effect has a range value.'
          type:
            type: string
            description: Raw effect type
          ignore_min:
            type: boolean
            description: 'Ignore the min field because the acutal value is a string. For readability the templated field is the only important field in this case. '
          ignore_max:
            type: boolean
            description: 'Ignore the max field, if ignore_min is true, min is a single value. '
          templated:
            type: string
            description: All fields from above encoded in a single string.
      title: Effects
    ImageUrls:
      type: object
      x-examples:
        All available:
          icon: 'https://dofusdu.de/dofus/img/mount/1.png'
          sd: 'https://dofusdu.de/dofus/img/mount/1-200.png'
          hq: 'https://dofusdu.de/dofus/img/mount/1-400.png'
          hd: 'https://dofusdu.de/dofus/img/mount/1-800.png'
        HD not rendered:
          icon: 'https://dofusdu.de/dofus/img/mount/1.png'
          sd: 'https://dofusdu.de/dofus/img/mount/1-200.png'
          hq: 'https://dofusdu.de/dofus/img/mount/1-400.png'
          hd: null
      description: 'All images except icon are rendered in the background which can take some time (up to hours if all data is completely generated from scratch). Because of this, they can be null if they are not yet rendered.'
      properties:
        icon:
          type: string
          description: '60x60 px, always available'
        sd:
          type: string
          description: 200x200 px
          nullable: true
        hq:
          type: string
          description: 400x400 px
          nullable: true
        hd:
          type: string
          description: 800x800 px
          nullable: true
    Equipment:
      type: object
      x-examples:
        example-1:
          ankama_id: 17105
          name: Voldelor Boots
          description: 'Voldelor hasn''t worn his boots since he learned to levitate. But he developed a weakness that fateful day: ticklishness.'
          type: Boots
          is_weapon: false
          level: 200
          pods: 10
          image_urls:
            icon: 'http://localhost/dofus/img/item/11291.png'
            sd: 'http://localhost/dofus/img/item/11291-200.png'
            hq: 'http://localhost/dofus/img/item/11291-400.png'
            hd: 'http://localhost/dofus/img/item/11291-800.png'
          effects:
            - min: 301
              max: 350
              type: Vitality
              ignore_min: false
              ignore_max: false
              templated: 301 to 350 Vitality
            - min: 51
              max: 70
              type: Agility
              ignore_min: false
              ignore_max: false
              templated: 51 to 70 Agility
            - min: 51
              max: 70
              type: Chance
              ignore_min: false
              ignore_max: false
              templated: 51 to 70 Chance
            - min: 16
              max: 20
              type: Pushback Resistance
              ignore_min: false
              ignore_max: false
              templated: 16 to 20 Pushback Resistance
            - min: 31
              max: 40
              type: Wisdom
              ignore_min: false
              ignore_max: false
              templated: 31 to 40 Wisdom
            - min: 5
              max: 7
              type: Dodge
              ignore_min: false
              ignore_max: false
              templated: 5 to 7 Dodge
            - min: 9
              max: 12
              type: Air Damage
              ignore_min: false
              ignore_max: false
              templated: 9 to 12 Air Damage
            - min: 9
              max: 12
              type: Water Damage
              ignore_min: false
              ignore_max: false
              templated: 9 to 12 Water Damage
            - min: 7
              max: 10
              type: '% Critical'
              ignore_min: false
              ignore_max: false
              templated: 7 to 10% Critical
            - min: 1
              max: 0
              type: MP
              ignore_min: false
              ignore_max: true
              templated: 1 MP
          conditions: null
          recipe:
            - item_ankama_id: 15720
              quantity: 44
            - item_ankama_id: 15716
              quantity: 38
            - item_ankama_id: 15733
              quantity: 15
            - item_ankama_id: 15176
              quantity: 11
            - item_ankama_id: 13935
              quantity: 10
            - item_ankama_id: 13164
              quantity: 12
            - item_ankama_id: 15219
              quantity: 15
            - item_ankama_id: 17117
              quantity: 1
      properties:
        ankama_id:
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
        is_weapon:
          type: boolean
        level:
          type: integer
        pods:
          type: integer
        image_urls:
          $ref: '#/components/schemas/ImageUrls'
        effects:
          $ref: '#/components/schemas/Effects'
        conditions:
          nullable: true
        recipe:
          $ref: '#/components/schemas/Recipe'
    Resource:
      type: object
      x-examples:
        example-1:
          ankama_id: 286
          name: Bäckerhefe
          description: Dies ist eine unverzichtbare Zutat für gutschmeckendes Brot.
          type: Pulver
          level: 1
          pods: 1
          image_urls:
            icon: 'http://localhost/dofus/img/item/48137.png'
          effects: null
          conditions: null
          recipe: null
      properties:
        ankama_id:
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
        level:
          type: integer
        pods:
          type: integer
        image_urls:
          $ref: '#/components/schemas/ImageUrls'
        effects:
          $ref: '#/components/schemas/ImageUrls'
        conditions:
          type: array
          nullable: true
          items:
            type: string
        recipe:
          $ref: '#/components/schemas/Recipe'
    ListItem:
      title: List Items
      x-stoplight:
        id: 2153jyryt3azu
      type: array
      items:
        type: object
        properties:
          ankama_id:
            type: integer
          name:
            type: string
          type:
            type: string
          level:
            type: integer
          image_urls:
            $ref: '#/components/schemas/ImageUrls'
    Set:
      title: Set
      x-stoplight:
        id: nfthmjnb0ebpw
      type: object
      properties:
        ankama_id:
          type: integer
        name:
          type: string
        equipment_ids:
          type: array
          items:
            type: integer
        effects:
          type: array
          items:
            $ref: '#/components/schemas/Effects'
        level:
          type: integer
    ListSet:
      title: ListSet
      x-stoplight:
        id: 28zyyy9e1gx1n
      type: array
      items:
        type: object
        properties:
          ankama_id:
            type: integer
          name:
            type: string
          items:
            type: integer
            description: amount
          level:
            type: integer
    Mount:
      title: Mount
      x-stoplight:
        id: 22zouotzgnrqv
      type: object
      properties:
        ankama_id:
          type: integer
        name:
          type: string
        family_name:
          type: string
        image_urls:
          $ref: '#/components/schemas/ImageUrls'
        effects:
          $ref: '#/components/schemas/Effects'
    ListMount:
      title: ListMount
      x-stoplight:
        id: ygnqrikh8uddy
      type: object
      properties:
        id:
          type: string
    PagedListItems:
      title: PagedListItems
      x-stoplight:
        id: 4d8b3zsb3fca6
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/PagedLinks'
        items:
          $ref: '#/components/schemas/ListItem'
    PagedListSets:
      title: PagedListSets
      x-stoplight:
        id: 4d8b3zsb3fca6
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/PagedLinks'
        items:
          $ref: '#/components/schemas/ListSet'
    PagedListMounts:
      title: PagedListMounts
      x-stoplight:
        id: 4d8b3zsb3fca6
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/PagedLinks'
        items:
          $ref: '#/components/schemas/ListMount'
    PagedLinks:
      title: PagedLinks
      x-stoplight:
        id: 23yb6w7guw3jh
      type: object
      properties:
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
  securitySchemes: {}
